<table class="table table-dark table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Player</th>
      <th scope="col">Total Score</th>
      <th scope="col" colspan="3">Details</th>
    </tr>
  </thead>
  <tbody id="table_body">
    <!-- Table body for player scores and turns -->
     {% for item in matches %}
       {% if item.row_type == "player_score" %}
       <tr class="table-primary">
          <td id="id_{{ item.id }}">{{ item.id }}</td>
          <td id="player_name_{{ item.id }}">{{ item.player_name }}</td>
          <td id="total_score_{{ item.id }}">{{ item.total_score }}</td>
          <td colspan="3">Current Score</td>
       </tr>
       {% else %}
       <tr>
          <td id="id_{{ item.id }}">{{ item.id }}</td>
          <td id="player_name_{{ item.id }}">{{ item.player_name }}</td>
          <td id="turn_number_{{ item.id }}">Turn {{ item.turn_number }}</td>
          <td id="first_throw_{{ item.id }}">1st: {{ item.first_throw }}</td>
          <td id="second_throw_{{ item.id }}">2nd: {{ item.second_throw }}</td>
          <td id="third_throw_{{ item.id }}">3rd: {{ item.third_throw }}</td>
       </tr>
       {% endif %}
     {% endfor %}
  </tbody>
</table>
<script>
  setInterval( function(){
      fetch('/data_json').then(
          response => response.json()
      ).then(
          data =>
            data.forEach(item =>
              updateElement(item)
            )
      )
  }, 1000
  );

  function updateElement(item) {
  Object.entries(item).forEach(([k,v]) => {
      element = document.getElementById(k + "_" + item.id);
      if (element) {
          // Get Previous value first
          previousValue = element.innerHTML;
          
          // Format the value based on the field type
          let formattedValue = v.toString();
          if (k === "turn_number") {
              formattedValue = "Turn " + v;
          } else if (k === "first_throw") {
              formattedValue = "1st: " + v;
          } else if (k === "second_throw") {
              formattedValue = "2nd: " + v;
          } else if (k === "third_throw") {
              formattedValue = "3rd: " + v;
          }

          // If Previous value is not equal to the new value, change it!
          if (previousValue !== formattedValue) {
              blinkUpdate(element, formattedValue);
          }
      }
  })
  }

  function blinkUpdate(element, newValue, newColor='#00ff00') {
      previousColor = element.style.color;
      element.innerHTML = newValue;
      element.style.color = newColor;
      // Set back to original color after timeout ms
      setTimeout(() => {
          element.style.color = previousColor
      }, 2000)
  }
</script>